<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why Now?</h2>
                    <h3 class="section-subheading text-muted"  style="font-family: 'Nanum Gothic', sans-serif;">Sign Order는 "지금" 필요한 서비스입니다.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2025.03.27</h4>
                                    <h4 class="subheading">무인정보단말기 접근성 강화 법안</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="font-size: 0.85em;">
                                        1. 무인정보단말기 이용을 보조할 수 있는 인력 배치<br>
                                        2. 실시간 음성 안내 서비스 제공<br>
                                        3. 제34조의 2 제2항에 따라 과학기술정보통신부장관이 정하는 검증기준을 준수한 무인정보단말기 설치<br>
                                        4. 무인정보단말기와 호환되는 소프트웨어 제공<br>
                                        5. 무인정보단말기 이용을 보조하여 정보와 서비스를 제공받을 수 있는 웹사이트 또는 이동통신단말장치에 설치되는 응용 소프트웨어 제공<br><br>
                                    </p>
                                    <p class="text-muted" style="font-size: 1.1em; font-weight: bold;">
                                        🚨 현재 카페 무인정보단말기들은 이러한 법률에 의해 빠른 기일 안에 기능이 추가되어야 합니다.
                                    </p>
                                    
                                </div>
                            </div>
                        </li>

                        <style>
                            .img-circle {
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                        </style>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023</h4>
                                    <h4 class="subheading">수어 통역사 부족, 카페 직원 수어 교육 부재</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        - 보건복지부 통계를 기준으로 청각장애인 43만명인 반면 수어통역사 1,900명에 불과합니다.<br>
                                        - 청각장애인에게 차별 없는 서비스 제공 원칙이라 명시되어있는 반면 직원에게 수어 교육 필수로 제공하라는 규제는 행방불명인 아이러니한 실상입니다.<br><br>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023</h4>
                                    <h4 class="subheading">한글 이해의 어려움</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        - 수어와 한글은 문법 체계가 전혀 다르며, 많은 농인들이 한글 대신 수어를 주요 소통 수단으로 사용합니다. <br>
                                        - 문화체육관광부의 통계에 따르면, 수어 사용자의 40.1%는 한글 자막을 이해하지 못하고, 청각장애인의 26.9%는 문자를 전혀 이해하지 못하는 것으로 나타났습니다.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Must be
                                    <br>Sign
                                    <br>Order!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>