<style>
    .navbar-default {
        background-color: rgba(0, 0, 0, 0) !important; 
        border-color: rgba(0, 0, 0, 0) !important;  
    }

    .navbar-default .navbar-nav > li > a,
    .navbar-default .navbar-brand {
        color: #3182F6 !important; 
    }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-brand:hover {
        color: #1B3C89 !important; 
    }
</style>
    
<nav class="navbar navbar-default navbar-fixed-top">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="{{ site.baseurl }}/img/logo.png" alt="{{ site.title }}" style="height: 60px; margin-right: 0px;"> 
                    {{ site.title }}
                   
                </a>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Why Now?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Attatchments</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in" style="font-family: 'Nanum Gothic', sans-serif;">
                    카페에서 만나는 수어 소통, <br> 농인과 청인을 이어주는 주문 서비스
                </div>
                
                <div class="intro-heading">Sign Order</div>
                <a href="#about" class="page-scroll btn btn-xl">더 알아보기</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

