venv/
venv
holistic_dataset
holistic_dataset/
hands_dataset
hands_dataset/
.env
affable-beach-453501-k9-12086968563e.json
keypoints
keypoints/
angles
angles/
angles_after_pad
angles_after_pad/
saved_frames
saved_frames/
certs/
*.key
*.crt
*.pem
